# Excluded files and folders.

# Remove vscode and github settings.
/.vscode/
# Remove sensitive files.
/creds/*
!/creds/template.json
/config/*
!/config/template.json
# Ignore cache files.
/scripts/__pycache__/